<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <style>
        body{
            color: #4040a1;
            font-family: calibri;
        }
    </style>
</head>
<body>
    <h2>HTML Heading Tags</h2>
    <p>The heading tag in HTML is used to define the headings and subheadings of a web page. There are six levels of heading tags, ranging from to , where represents the most important heading and the least important.
 These tags help in structuring the content of a web page, making it more readable for both users and search engines.</p>
        <h3>Example : </h3>
        <img src="../images/heading1.png" alt="">
        <h3>Output : </h3>
        <img src="../images/heading2.png" alt="">
</body>
</html>
